# npm
/node_modules/
/xcind-*.tgz
# we don't have any deps; un-ignore if that changes
/package-lock.json
test/.xcind/run-logs/
# scratch file that should never be committed
/test.xcind
/test2/
report.xml
report.log
# docker
/compose.override.yaml
# direnv
/.direnv/
# nix
/result
